{% extends 'base.html' %}

{% block title %}
    | About
{% endblock title %}

{% block content %}
    <h1 style="font-family: 'Agency FB'">About Page</h1>
    <p style="font-style: italic;font-size: x-large">This to do list helps you out in listing everything that you have to do with the most important tasks and also the least important tasks.</p>
    <p style="font-style: italic;font-size: x-large"> By keeping such a list you make sure that your tasks are written down all in one place so you dont forget anything important<br><br><br>
<p>MADE BY KARIMI</p>
{% endblock content %}

